.about {
  &__title {
    font-size: 30px;
    width: 891px;
  }

  &__blocks {
    padding: 60px 0;
    display: flex;
    gap: 48px;
  }
}

.block {
  &__num {
    color: $color-red;
    font-weight: $font-weight-semibold;
    font-size: 70px;
    text-wrap: nowrap;
  }

  &__description {
    font-size: 18px;
    opacity: 0.7;
    flex-basis: 0;
  }
}
