.about {
  &__title {
    font-size: 30px;
    max-width: 891px;
    color: $color-dark-blue;
  }

  &__content {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    .about-block {
      &__number {
        color: $color-red;
        font-weight: $font-weight-semibold;
        font-size: 70px;
        white-space: nowrap;
      }

      &__description {
        font-size: 18px;
        color: $color-gray;
        max-width: 260px;
      }
    }
  }
}
