.form {
  background-color: $color-red;
  background-image: url('../shared/img/Percent.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding: 87px 0 87px;

  &__text {
    width: 500px;
  }

  &__title {
    color: $color-light;
    font-size: 36px;
    font-weight: $font-weight-semibold;
  }

  &__description {
    margin-top: 20px;
    color: $color-light;
    font-size: 20px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;

    .form-block {
      margin-top: 87px;

      &__input {
        height: 64px;
        background-color: $color-light;
        border-radius: $border-radius-button;
        padding: 20px 19px;
        font-size: 18px;
        color: $color-gray;
      }

      &__button {
        background-color: $color-dark-blue;
        height: 64px;

        &:hover {
          background-color: $button-color-secondary-hover;
          color: $text-color-primary-70;
        }
      }
    }
  }
}
