@import 'variables';

body,
html {
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
  font-family: Jost, sans-serif;
  font-weight: $font-weight-regular;
  line-height: $line-height;

  &.no-scroll {
    overflow: hidden;
    height: 100%;
  }
}

section {
  padding: 120px 0;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  height: 100%;
  width: 100%;
  padding: 0 10px;

  &-wide {
    max-width: 1740px;
  }
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: $color-light;
}

.tel {
  font-size: 30px;
  font-weight: 600;
  color: $color-light;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px 54px;
  cursor: pointer;
  font-size: 18px;
  background-color: $color-red;
  border-radius: $border-radius-button;
  color: $color-light;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-color-primary-hover;
  }

  &--dark {
    background-color: $color-dark-blue;

    &:hover {
      background-color: $button-color-secondary-hover;
      color: $text-color-primary-70;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: $color-shadow-gray;

  &.open {
    display: flex;
  }

  &__content {
    position: relative;
    padding: 40px;
    background: $color-light;
    border-radius: $border-radius-card;
    box-shadow: 0 10px 30px $color-shadow-gray;
  }

  &__close-text {
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: $color-gray;
    z-index: 1000;

    &:hover {
      color: $color-dark-blue;
      transition-duration: 0.3s;
    }
  }

  &__close-icon {
    display: none;
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
  }
}

.anchor-target {
  scroll-margin-top: 10px;
}
