.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 30px 0;
  background-color: $color-dark-blue;

  .header-buttons,
  &__tel,
  &__menu {
    display: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-nav {
    &__list {
      display: flex;
      gap: 40px;
    }

    &__link {
      color: $color-light;
      text-decoration: none;
      font-size: 20px;
      text-wrap: nowrap;

      &:hover {
        color: $color-hover-link;
        transition-duration: 0.2s;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 17px 0;

    .logo {
      font-size: 20px;
    }

    &-nav {
      &__list {
        display: none;
      }
    }

    .header-buttons {
      position: relative;
      display: flex;
      gap: 10px;

      &__tel {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__menu {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .tel {
      display: none;
    }
  }
}
