.teacher-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 688px;
  width: 860px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    height: 40px;
    background-image: $fade;
  }

  .teacher-info {
    display: flex;
    gap: 40px;

    &__img {
      border-radius: $border-radius-card;
      height: 222px;
      width: auto;
    }

    &__text {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &__title {
      font-size: 24px;
      font-weight: $font-weight-semibold;
    }

    &__description {
      font-size: 18px;
      color: $color-gray;
    }

    &__socials {
      display: flex;
      gap: 10px;

      .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .teacher-tabs {
    margin-top: 20px;
    display: flex;
    justify-content: stretch;
    font-size: 20px;
    color: $color-gray;

    &__tab {
      padding: 20px 0;
      width: 100%;
      text-align: left;

      &:hover {
        color: $color-dark-blue;
      }

      &.active {
        color: $color-red;
      }
    }
  }

  .teacher-modal__sections {
    padding-top: 20px;
    overflow-y: auto;
    border: 1px solid $border-color-gray;
    border-left: none;
    border-bottom: none;
    border-right: none;
    padding-bottom: 40px;
  }

  .teacher-sections {
    &__section {
      display: none;
      font-size: 20px;
      color: $color-dark-blue;

      &.active {
        display: block;
      }
    }

    &__title {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: $font-weight-semibold;
      color: $color-dark-blue;
    }
  }

  .teacher-dropdown {
    display: none;
  }

  @media (max-width: 768px) {
    .teacher-modal {
      width: 100%;
      height: 100%;

      &__sections {
        border: none;
      }
    }
    .teacher-info {
      gap: 10px;

      &__text {
        row-gap: 5px;
      }

      &__img {
        width: auto;
        height: 150px;
      }
    }

    .teacher-tabs {
      display: none;
    }

    .teacher-dropdown {
      margin-top: 20px;
      position: relative;
      display: block;

      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 46px;
        background: $color-red;
        color: $color-light;
        font-size: 16px;
        border: 1px solid $color-light;
      }

      &__arrow {
        margin-left: 5px;
        transition: transform 0.5s ease;
      }

      &__button.open .teacher-dropdown__arrow {
        transform: rotate(180deg);
      }

      &__menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 46px;
      }

      &__menu.open {
        display: block;
      }

      &__option {
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-red;
        color: $color-light;
        border: 1px solid $color-light;
      }

      &__option.active {
        background: $button-color-primary-hover;
      }
    }
  }
}

@media (max-width: 768px) {
  .modal__close-btn {
    display: none;
  }

  .modal__close-x {
    display: block;
  }

  .modal__content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 40px 30px;
  }

  .teacher-modal {
    width: 100%;
    height: 100%;
    margin-top: 40px;
  }
}
