.modal {
  &.open {
    display: flex;
  }
  &__content {
    padding: 40px;
    background: $color-light;
    border-radius: $border-radius-card;
    box-shadow: 0 10px 30px $color-shadow-gray;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 768px;

    &::after {
      content: '';
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 800px;
      height: 40px;
      background-image: $fade;
    }
  }

  &__close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: $color-gray;

    &:hover {
      color: $color-dark-blue;
      transition-duration: 0.3s;
    }
  }

  &__img {
    border-radius: $border-radius-card;
    max-width: 160px;
    max-height: 222px;
    width: auto;
    height: auto;
    margin-right: 40px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__title {
    font-size: 24px;
    font-weight: $font-weight-semibold;
  }

  &__description {
    font-size: 18px;
    color: $color-gray;
  }

  &__socials {
    display: flex;
    gap: 10px;
  }

  &__social {
    display: flex;
  }

  .some-content {
    display: flex;
    width: 860px;
  }

  &__tabs {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 180px;
    font-size: 20px;
    color: $color-gray;
  }

  &__tab {
    padding: 20px 10px;

    &:hover {
      color: $color-dark-blue;
    }
  }

  &__tab.active {
    color: $color-red;
  }

  &__sections {
    padding-top: 20px;
    overflow-y: auto;
    border: 1px solid $border-color-gray;
    border-left: none;
    border-bottom: none;
    border-right: none;
    padding-bottom: 40px;

    &-title {
      margin-top: 40px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: $font-weight-semibold;
      color: $color-dark-blue;
    }
  }

  &__section {
    display: none;
    font-size: 20px;
    color: $color-dark-blue;
  }

  &__section.active {
    display: block;
  }
}
