.promo {
  height: 972px;
  background-color: $color-dark-blue;
  overflow: hidden;
  position: relative;

  &__content {
    padding: 160px 0;
  }

  &__title {
    color: $color-light;
    font-size: 70px;
    font-weight: $font-weight-semibold;
  }

  &__description {
    color: $color-light;
    margin: 40px 0;
    font-size: 20px;
    font-weight: $font-weight-regular;
  }

  &__img {
    position: absolute;
    width: 783px;
    height: auto;
    left: 50%;
    top: 54px;
  }
}
