.tooltip {
  position: absolute;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: help;
  bottom: 10%;

  &__text {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 10%;
    padding: 14px 12px;
    box-shadow: 0 2px 8px 0 #1410241a;
    border-radius: 5px;
    font-size: 16px;
    font-weight: $font-weight-regular;
    color: $color-dark-blue;
    width: max-content;
    max-width: 260px;
    background-color: $color-light;
  }

  &:hover &__text {
    display: flex;
  }

  @media (max-width: 768px) {
    &__text {
      left: 50%;
      transform: translateX(-75%);
      z-index: 1000;
    }
  }
}
