.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;

  &__icon {
    position: relative;
    cursor: help;
    z-index: 1;
  }

  &__text {
    display: none;
    position: absolute;
    bottom: 45px;
    left: 0;
    padding: 14px 12px;
    border: 1px solid rgba($color-gray, 0.2);
    border-radius: 5px;
    font-size: 16px;
    font-weight: $font-weight-regular;
    color: $color-dark-blue;
    text-wrap: nowrap;
    border-top: none;
  }
  &:hover &__text {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    right: -5px;
    bottom: -5px;
    left: -5px;
  }
}
