// Семейство шрифтов

$font-primary: 'Jost', Arial, sans-serif;

// Веса шрифтов
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Переменные для цветов
$color-red: #d52027;
$color-dark-blue: #141024;
$color-light: #ffffff;
$color-hover-link: gray;
$button-color-primary-hover: #ff2626;
$button-color-secondary-hover: #ffffff;
$text-color-primary-70: #184c89;
$color-gray: #5c5e5e;

// Переменные для шрифтов

// Переменные для скругления
$border-radius-card: 20px;
$border-radius-button: 5px;

// переменная для ширины контейнера
$container-width: 1160px;
$container-header-width: 1720px;

// line-height
$line-height: 1.6;
